.font_inter{
    font-family: "Inter", sans-serif;
}
.font_raleway{
    font-family: "Raleway", sans-serif;
}
ul li{
    font-size: 1.125rem;
}
body button{
    font-family: "Inter", sans-serif;
}
.append_div{
    display: flex;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
}
